@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";
@use "calendar";

.booking-calendar {
    padding: 3.7rem 0;
    background: #F9F9F9;

    // .booking-calendar__title
    &__title {}

    // .booking-calendar__content
    &__content {
        margin-top: 1.8rem;
        transition: all 0.3s ease;

        &:not(.is-loaded) {
            position: relative;
            border-radius: 1.25rem;
            background: #FFFDFD;
            min-height: rem(575);
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(60);
                height: rem(60);
                border: rem(5) solid #000;
                border-bottom-color: transparent;
                border-radius: 50%;
                transform-origin: center;
                animation: rotation 1s linear infinite;
                z-index: 3;
            }

            .booking-calendar__header {
                opacity: 0;
            }
        }
    }

    // .booking-calendar__header
    &__header {

        display: flex;
        align-items: center;
        gap: rem(60);
        transition: opacity 0.3s ease;
    }

    // .booking-calendar__filters
    &__filters {
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;
        position: relative;
    }

    // .booking-calendar__filter
    &__filter {
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;
        padding: 0.44rem 1.56rem;
        border-radius: 3.125rem;
        color: #B7B7B7;
        border: rem(3) solid transparent;
        background: transparent;
        transition: all 0.3s ease;
        display: inline-block;
        user-select: none;

        &.swiper-slide {
            width: fit-content;
        }

        @media (any-hover: hover) {
            &:hover {
                color: #3C3C3C;
            }
        }

        &.active {
            color: #3C3C3C;
            border: rem(3) solid #B1DF1D;
            background: #FFF;
        }
    }

    &__filters-prev {
        &.swiper-button-prev {
            left: rem(-45);
        }
    }

    &__filters-next {
        &.swiper-button-next {
            right: rem(-45);
        }
    }

    &__filters-next,
    &__filters-prev {
        &.swiper-button-disabled {
            display: none;
        }
    }

    // .booking-calendar__controls
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(23);
    }

    // .booking-calendar__prev
    &__prev {
        width: rem(35);
        height: rem(35);
        background: #D9D9D9;
        color: #353535;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        @media (any-hover: hover) {
            &:hover {
                background: #B0DF1D;
                color: #353535;
            }
        }
    }

    // .booking-calendar__month
    &__month {
        color: #000;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 110%;
        min-width: rem(142);
        text-align: center;
    }

    // .booking-calendar__next
    &__next {
        @extend .booking-calendar__prev;
    }

    // .booking-calendar__body
    &__body {
        margin-top: 1.46rem;
        display: grid;
        grid-template-columns: 1fr 0.875fr;
        gap: 1.31rem;
    }

    // .booking-calendar__block
    &__block {
        border-radius: 1.25rem;
        background: #FFFDFD;
        padding: 4rem 1.69rem 2rem;

        [data-vc=calendar] {
            padding: 0;
        }

        .vc-header {
            display: none !important;
        }

        [data-vc-theme=light] .vc-date:not([data-vc-date-month="prev"]):not([data-vc-date-month="next"]) .vc-date__btn {
            &:not([aria-disabled]) {
                background-color: #B1DF1D;
                color: #7D7D7D;
            }

            &[aria-disabled] {
                pointer-events: none;
            }
        }

        [data-vc-theme=light] .vc-date[data-vc-date-month="prev"] .vc-date__btn {
            pointer-events: none;
            color: #cbd5e1;
        }

        [data-vc-theme=light] .vc-date[data-vc-date-month="next"] .vc-date__btn {
            pointer-events: none;
            color: #cbd5e1;
        }


        [data-vc-theme=light] .vc-date[data-vc-date-week-day][data-vc-date-month="current"] .vc-date__btn,
        [data-vc-theme=light] .vc-date[data-vc-date-holiday][data-vc-date-selected] .vc-date__btn,
        [data-vc-theme=light] .vc-date[data-vc-date-weekend][data-vc-date-selected] .vc-date__btn {
            &:not([aria-disabled]) {
                &[aria-selected="true"] {
                    --tw-bg-opacity: 1;
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        @media (hover:hover) and (pointer:fine) {

            [data-vc-theme=light] .vc-date[data-vc-date-holiday][data-vc-date-selected] .vc-date__btn:not([aria-disabled]):hover,
            [data-vc-theme=light] .vc-date[data-vc-date-weekend][data-vc-date-selected] .vc-date__btn:not([aria-disabled]):hover,
            [data-vc-theme=light] .vc-date[data-vc-date-holiday] .vc-date__btn:not([aria-disabled]):hover,
            [data-vc-theme=light] .vc-date[data-vc-date-weekend] .vc-date__btn:not([aria-disabled]):hover {

                --tw-bg-opacity: 1;
                background-color: #000;
                color: #fff;
            }


        }
    }

    // .booking-calendar__side
    &__side {
        border-radius: 1.25rem;
        background: #FFFDFD;
        padding: 3rem 2.31rem;
    }

    // .booking-calendar__caption
    &__caption {
        color: #797979;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 72.222%;
    }

    // .booking-calendar__list
    &__list {
        margin-top: 1.94rem;
    }
}

.tours-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // .tours-list__item
    &__item {}

    // .tours-list__link
    &__link {
        display: flex;
        gap: 1rem;

        @media (any-hover: hover) {
            &:hover {
                .tours-list__name {
                    color: #B1DF1D;
                }
            }
        }
    }

    // .tours-list__main
    &__main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .tours-list__name
    &__name {
        color: #797979;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 72.222%;
        transition: color 0.3s ease;
    }

    // .tours-list__duration
    &__duration {
        margin-top: 0.56rem;
        color: #B7B7B7;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    // .tours-list__price
    &__price {
        flex-shrink: 0;
        color: #383838;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 72.222%;
        text-transform: lowercase;
    }
}