@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";
@use "ui";

select.select {
	@extend .hidden;
}

.dropdown {
	position: relative;
	width: 100%;
	font-size: 1.125rem;
	font-weight: 600;

	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}

		.dropdown__button {
			border: rem(1) solid $accent;
			box-shadow: inset 0 0 0 rem(1) $accent;

			&::before {
				transform: rotate(-180deg);
			}
		}
	}

	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}

	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 3.125rem;
		background: #D9F970;
		color: #262624;
		padding: 0.125rem 0.5rem;
		font-size: 1.125rem;
		font-weight: 600;
		padding: rem(10.5) rem(23);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
		border: rem(1) solid #D9F970;

		&.selected {
			color: #262624;
		}

		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}

	// .dropdown__button-text
	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		hyphens: auto;
		min-width: 2.13rem;
	}

	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		z-index: 4;
		padding: 0.25rem;
		border-radius: 0.5rem;
		border: rem(1) solid $accent;
		background: #D9F970;
		color: #262624;
		transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

		opacity: 0;
		visibility: hidden;

		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__list {
		// max-height: rem(280);
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		&::-webkit-scrollbar {
			width: rem(5);
		}

		&.has-scroll {
			padding-right: rem(10);
		}

		&::-webkit-scrollbar {
			width: rem(4);
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(217, 249, 112, 0.2);
			border-radius: rem(10);

			&:hover {
				background: #D9F970;
			}
		}
	}

	&__list-item {
		position: relative;
		cursor: pointer;
		padding: rem(10) rem(12);
		border-radius: rem(8);

		transition: all 0.2s ease;
		display: flex;
		align-items: center;
		justify-content: space-between;


		@media (any-hover: hover) {
			&:hover {
				background: rgba($color: #b1df1d, $alpha: .7);
			}
		}

		&.selected,
		&[aria-checked="true"] {
			background: #b1df1d;
			font-weight: 600;

			&::before {
				order: 1;
				@extend %ic, .icon-check;
				width: 1.125rem;
				height: 1.125rem;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&:active {
			transform: scale(0.98);
		}
	}
}