@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.error {
	padding-top: $header-height;
	background-color: #0C0C0C;
	color: #FFF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1 1 auto;
	padding-bottom: 4rem;

	// .error__header
	&__header {
		display: grid;
		align-items: center;
		gap: 1.3rem;
		grid-template-columns: repeat(2, 1fr);
		padding-top: 4rem;

		@media (min-width:$md1) {
			padding-top: 8rem;
			padding-left: 5rem;

		}
	}

	// .error__code
	&__code {
		font-weight: 900;
		font-size: 12rem;

		@media (min-width:$md2) {
			font-size: 16rem;
		}

		@media (min-width:$md1) {
			font-size: 20.93394rem;

		}
	}

	// .error__content
	&__content {
		@media (min-width:$md1) {
			padding-bottom: 2.4rem;
		}
	}

	// .error__title
	&__title {
		text-transform: uppercase;
	}

	// .error__subtitle
	&__subtitle {
		margin-top: rem(17);
		font-weight: 900;
		font-size: 1rem;

		@media (min-width:$md2) {
			font-size: 1.37531rem;

		}
	}

	// .error__btns
	&__btns {
		display: flex;
		justify-content: center;
		gap: 3.69rem;
		margin-top: 3rem;

		@media (min-width:$md1) {
			margin-top: 6rem;

		}
	}

	// .error__btn
	&__btn {
		max-width: rem(276);
		width: 100%;
	}
}