@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.hero {

    color: #FFF;
    background-color: #4B4B4B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: rem(700);

    padding: rem(120) 0 rem(20);

    @media (min-width:$md2) {
        padding: rem(200) 0 rem(58);

    }

    @media (min-width:$md1) {
        min-height: rem(942);
        padding: rem(319) 0 rem(58);

    }

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
    }


    // .hero__inner
    &__inner {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: rem(20);


        @media (min-width:$md2) {
            justify-content: space-between;

        }
    }

    // .hero__content
    &__content {}

    // .hero__title
    &__title {
        font-weight: 800;
        line-height: 1;
        text-align: center;
        font-size: rem(34);

        @media (min-width:$md4) {
            line-height: 1.1;
            font-size: rem(40);

        }

        @media (min-width:$md2) {
            text-align: left;
            font-size: rem(50);
        }

        @media (min-width:$md1) {
            font-size: rem(58);

        }

        & span {
            display: block;
            font-size: em(40, 34);

            @media (min-width:$md4) {
                font-size: em(75, 58);

            }
        }
    }

    // .hero__subtitle
    &__subtitle {
        margin-top: 0.5rem;
        font-weight: 500;
        text-align: center;
        font-size: 0.9375rem;

        @media (min-width:$md4) {
            font-size: 1.25rem;
        }

        @media (min-width:$md2) {
            text-align: left;
        }
    }

    // .hero__btn-main
    &__btn-main {
        margin-top: 2.7rem;
        max-width: 17.5625rem;
        width: 100%;
        display: flex;
        margin-inline: auto;

        @media (min-width:$md2) {
            margin-top: 1.5rem;
        }

        &.btn {
            padding: rem(8.5) rem(24);
            font-size: 1.125rem;
        }

        @media (min-width:$md2) {
            margin-inline: 0;
        }
    }

    // .hero__footer
    &__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: rem(75);

        @media (min-width:$md2) {
            justify-content: space-between;
            flex-direction: row;

        }
    }

    // .hero__socials
    &__socials {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (min-width:$md2) {
            gap: rem(32);
            flex-direction: row;
        }
    }

    // .hero__socials-btn
    &__socials-btn {
        min-width: rem(280);

        &.btn {
            padding: rem(8.5) rem(24);
            font-size: 1.125rem;
        }
    }

    // .hero__badge
    &__badge {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        max-width: rem(287);
        width: 100%;
    }

    // .hero__badge-icon
    &__badge-icon {
        flex-shrink: 0;
        width: 1.5625rem;

        @media (min-width:$md4) {
            width: 3rem;
        }
    }

    // .hero__badge-info
    &__badge-info {
        font-weight: 500;
        font-size: 0.625rem;

        @media (min-width:$md4) {
            font-size: 1.25rem;
        }
    }
}

.selection {
    padding: rem(24) 0 rem(14);

    @media (min-width:$md4) {
        padding: rem(40) 0 rem(25);

    }

    @media (min-width:$md2) {
        padding: rem(80) 0 rem(45);
    }

    // .selection__title
    &__title {}

    // .selection__form
    &__form {
        border-radius: 1.25rem;
        background: #F9F9F9;
        margin-top: rem(12);
        padding: 0.75rem 0.875rem;

        @media (min-width:$md5) {
            padding: 1.375rem 1rem 0.5rem;
            margin-top: 2.4rem;

        }
    }

    // .selection__form-row
    &__form-row {
        display: grid;
        gap: 1rem;

        @media (min-width:$md4) {
            align-items: end;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width:$md2) {
            grid-template-columns: repeat(3, 1fr) 12.5rem;

        }
    }

    // .selection__form-field
    &__form-field {}

    // .selection__form-submit
    &__form-submit {
        @media (max-width:$md5) {
            font-size: rem(15);
        }

        @media (min-width:$md5) {
            min-height: rem(45);

        }
    }

    // .selection__form-checkbox
    &__form-checkbox {
        margin-top: rem(12);
        margin-left: 1rem;

        @media (min-width:$md5) {
            margin-left: rem(25);

        }
    }
}

.description {
    padding: rem(12) 0 rem(25);

    @media (min-width:$md5) {
        padding: rem(25) 0 rem(25);
    }

    @media (min-width:$md3) {
        padding: rem(55) 0 rem(50);

    }

    // .description__container
    &__container {
        display: grid;
        gap: 1rem;

        @media (min-width:$md5) {
            gap: 2rem;
        }

        @media (min-width:$md2) {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    // .description__column
    &__column {
        @media (min-width:$md1) {
            padding-left: 1.75rem;

        }
    }

    // .description__title
    &__title {

        text-align: center;

        @media (min-width:$md1) {
            max-width: 30rem;
            text-align: left;
            padding-left: 3.25rem;

        }
    }

    // .description__list
    &__list {
        color: #000;
        font-size: rem(12);
        margin-top: rem(22);

        @media (min-width:$md5) {
            margin-top: 2.5rem;
            max-width: rem(490);
            font-size: 1rem;

        }

        @media (min-width:$md4) {
            font-size: 1.25rem;

        }

        @media (min-width:$md1) {
            font-size: 1.625rem;

        }

        & li {
            position: relative;
            padding-left: em(3.4375, 1.25);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: em(2.25, 1.625);
                height: em(2.25, 1.625);
                background: #B1DF1D;
                border-radius: 50%;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }

    // .description__steps
    &__steps {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        row-gap: 2.21rem;
        margin-top: 2.3rem;
        font-size: rem(12);

        @media (min-width:$md5) {
            gap: 3.5rem;
            row-gap: 2.21rem;
            margin-top: 2.5rem;
            font-size: 1rem;
        }

        @media (min-width:$md3) {
            font-size: 1.25rem;
            row-gap: 6.6rem;

        }

        @media (min-width:$md1) {
            margin-top: 6.8rem;
            font-size: 1.625rem;
            padding-left: 1.5rem;

        }

        & li {
            counter-increment: num;
            display: flex;
            max-width: 70%;

            @media (min-width:$md5) {
                max-width: 100%;
            }

            &::before {
                content: counter(num) '.';
                flex-shrink: 0;
                margin-right: 0.25rem;
                font-weight: 600;
            }
        }
    }
}

.directions {
    padding: 1.125rem 0;

    @media (min-width:$md5) {
        padding: 1.75rem 0;

    }

    // .directions__title
    &__title {}

    // .directions__slider
    &__slider {
        overflow: hidden;
        margin-top: rem(14);

        @media (min-width:$md4) {
            margin-top: rem(30);

        }

        .swiper-wrapper {
            display: flex;
        }
    }

    // .directions__grid
    &__grid {
        flex: 0 0 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: rem(167);
        gap: rem(8);

        @media (min-width:$md4) {
            grid-auto-rows: rem(220);

        }

        @media (min-width:$md3) {
            grid-auto-rows: 21rem;
            gap: rem(16);

        }

        @media (min-width:$md2) {
            gap: rem(20);
            grid-template-columns: repeat(3, 1fr);

        }

        @media (min-width:$md1) {
            gap: rem(30);

        }

        // .directions__grid--count-1
        &--count-1 {}

        // .directions__grid--count-2
        &--count-2 {}

        // .directions__grid--count-3
        &--count-3 {
            .directions__item {

                &:nth-child(1),
                &:nth-child(3) {
                    grid-column: span 2;
                }

                &:nth-child(2) {
                    grid-column: span 2;

                    @media (min-width:$md2) {
                        grid-row: span 2;
                        grid-column: auto;
                    }
                }
            }
        }

        // .directions__grid--count-4
        &--count-4 {
            .directions__item {
                &:nth-child(1) {
                    grid-column: span 2;
                }

                &:nth-child(2) {
                    grid-row: span 2;
                }
            }
        }
    }

    // .directions__item
    &__item {
        overflow: hidden;
        position: relative;
        background: #272727;
        border-radius: rem(23);

        @media (min-width:$md5) {
            border-radius: 1.875rem;

        }

        @media (any-hover: hover) {
            &:hover {
                .directions__image {

                    & img {
                        transform: scale(1.05);
                    }
                }

                .directions__info-arrow {
                    background-color: color.adjust($color: $accent, $lightness: -10%);
                }
            }
        }
    }

    // .directions__image
    &__image {
        height: 100%;

        & img {
            transition: transform 0.3s ease;
        }
    }

    // .directions__placeholder
    &__placeholder {}

    // .directions__info
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 0.5rem;

        @media (min-width:$md4) {
            padding: 1rem;

        }

        @media (min-width:$md2) {
            padding: 1.5rem;

        }
    }

    // .directions__info-blocks
    &__info-blocks {
        display: flex;
        flex-wrap: wrap;
        gap: rem(6);

        @media (min-width:$md5) {
            gap: 0.81rem;
        }
    }

    // .directions__info-day
    &__info-day {
        border-radius: 3.125rem;
        background: rgba(248, 248, 248, 0.70);
        color: #262626;
        font-weight: 600;
        font-size: rem(9);
        padding: 0.45rem 0.75rem;

        @media (min-width:$md4) {
            font-size: 0.875rem;
        }

        @media (min-width:$md3) {
            padding: 0.875rem 0.675rem;
            font-size: 1rem;
        }

        @media (min-width:$md1) {
            padding: 1rem 1.06rem;
            font-size: 1.125rem;
        }
    }

    // .directions__info-details
    &__info-details {
        color: #6B6C6E;
        font-weight: 600;
        text-transform: lowercase;
        border-radius: 3.125rem;
        background: rgba(248, 248, 248, 0.70);
        font-size: rem(9);
        padding: 0.45rem 0.75rem;

        @media (min-width:$md4) {

            font-size: 0.875rem;
        }

        @media (min-width:$md3) {
            padding: 0.875rem 0.675rem;
            font-size: 1rem;
        }

        @media (min-width:$md1) {
            padding: 1rem 0.75rem;
            font-size: 1.125rem;
        }
    }

    // .directions__info-arrow
    &__info-arrow {
        flex-shrink: 0;
        margin-left: auto;
        background: #B1DF1D;
        color: #353535;
        border-radius: 3.125rem;
        transition: background-color 0.3s ease;
        width: 2.01013rem;
        height: 1.39163rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;

        @media (min-width:$md4) {
            width: 3rem;
            height: 2rem;
            font-size: 1rem;
        }

        @media (min-width:$md2) {
            width: 4.0625rem;
            height: 2.8125rem;
            font-size: 1.4375rem;
        }
    }

    // .directions__footer
    &__footer {
        margin-top: rem(20);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width:$md3) {
            justify-content: center;

        }
    }

    // .directions__controls
    &__controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    // .directions__prev
    &__prev {
        position: static;
        margin: 0;
        transform: none
    }

    // .directions__next
    &__next {
        @extend .directions__prev;
    }

    // .directions__all-link
    &__all-link {
        color: #797979;
        font-weight: 500;
        transition: color 0.3s ease;
        font-size: rem(10);

        @media (min-width:$md5) {
            font-size: 1.01875rem;
        }

        @media (min-width:$md3) {
            position: absolute;
            top: 50%;
            right: 1.625rem;
            transform: translateY(-50%);
        }

        @media (any-hover: hover) {
            &:hover {
                color: #B1DF1D;
            }
        }
    }
}

.team {
    padding: 1.56rem 0 1.5rem;

    @media (min-width:$md5) {
        padding: rem(40) 0 rem(60);
    }

    @media (min-width:$md3) {
        padding: rem(80) 0 rem(90);
    }

    // .team__title
    &__title {}

    // .team__content
    &__content {

        display: flex;
        flex-direction: column;
        gap: rem(5);
        margin-top: rem(16);

        @media (min-width:$md5) {
            gap: rem(16);
            margin-top: rem(24);
        }

        @media (min-width:$md4) {
            margin-top: rem(48);
            gap: rem(32);
        }

        @media (min-width:$md2) {
            gap: rem(48);
            flex-direction: row;
        }

        @media (min-width:$md1) {
            gap: rem(62);

        }
    }

    // .team__info
    &__info {
        font-size: 120%;
        font-size: 0.625rem;

        @media (max-width:$md4) {
            letter-spacing: normal;
        }

        @media (min-width:$md4) {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 122.222%;

        }

        @media (min-width:$md2) {
            flex: 0 0 rem(423);
        }

        @media (min-width:$md1) {
            padding-left: 1.3rem;

        }

        h3 {
            font-size: 1.25rem;
            margin: 2rem 0 0.25rem;

            @media (min-width:$md4) {
                margin: 2rem 0 1rem;
                font-size: 1.9375rem;

            }
        }
    }

    // .team__slider
    &__slider {
        min-width: 0;
        max-width: 100%;
        flex: 1 1 auto;

        .swiper-wrapper {
            @media (min-width:$md3) {
                display: grid;
                gap: rem(15);
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width:$md1) {
                grid-template-columns: repeat(4, 1fr);

            }
        }
    }

    // .team__slider-pagination
    &__slider-pagination {
        &.swiper-pagination {
            margin-bottom: rem(6);

        }

        @media (min-width:$md3) {
            display: none;
        }
    }
}

.expert {
    display: flex;
    flex-direction: column;


    // .expert__image
    &__image {
        // height: 12.5rem;
        height: 0;
        width: 100%;
        position: relative;
        padding-bottom: #{math.div(200, 160) * 100%};

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-position: center 5%;
            border-radius: 0.75rem;

            @media (min-width:$md4) {
                border-radius: 1.25rem;
            }
        }
    }

    // .expert__content
    &__content {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    // .expert__name
    &__name {
        color: #313131;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 1;

        @media (min-width:$md4) {
            line-height: 1.375rem;
            font-size: 1.125rem;

        }
    }

    // .expert__position
    &__position {
        font-weight: 500;
        line-height: 120%;
        font-size: 0.5625rem;
        margin-top: 0.5rem;

        @media (min-width:$md4) {
            margin-top: 0.75rem;
            font-size: 0.75rem;

        }
    }
}

.callback {
    background: #F9F9F9;
    text-align: center;
    padding: rem(14) 0;

    @media (min-width:$md4) {
        padding: rem(32) 0 rem(50);

    }

    @media (min-width:$md2) {
        padding: rem(55) 0 rem(80);

    }

    // .callback__title
    &__title {
        max-width: rem(240);
        margin: 0 auto;

        @media (min-width:$md5) {
            max-width: 100%;
        }
    }

    // .callback__subtitle
    &__subtitle {
        color: #4F4F4F;
        font-weight: 500;
        text-transform: lowercase;
        font-size: 0.625rem;

        margin-top: 0.15rem;

        @media (min-width:$md5) {
            margin-top: rem(15);
            font-size: 1rem;
        }

        @media (min-width:$md4) {
            line-height: 0.8125rem;
            font-size: 1.125rem;

        }
    }

    // .callback__form
    &__form {
        margin-top: rem(13);

        @media (min-width:$md5) {
            margin-top: rem(22);

        }

        @media (min-width:$md3) {
            margin-top: rem(32);
        }

        @media (min-width:$md1) {
            margin-top: rem(44);

        }
    }

    // .callback__form-row
    &__form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(7);
        row-gap: rem(13);

        @media (min-width:$md3) {
            gap: rem(25);
            flex-wrap: nowrap;
        }

        .wpcf7-form-control-wrap {
            flex: 0 0 calc(50% - rem(3.5));

            @media (min-width:$md3) {
                flex: 0 1 auto;
            }

            .wpcf7-not-valid-tip {
                position: absolute;
                top: 100%;
                left: 0;
            }
        }

        .form__btn {
            flex: 0 0 rem(195);
        }
    }

    // .callback__tagline
    &__tagline {
        margin-top: rem(8);
        color: #4F4F4F;
        font-weight: 500;
        text-transform: lowercase;
        font-size: rem(10);
        max-width: 80%;
        margin-inline: auto;

        @media (min-width:$md4) {
            margin-top: rem(16);
            max-width: 100%;
            font-size: 1rem;
        }

        @media (min-width:$md3) {
            font-size: 1.125rem;
            margin-top: rem(49);
            line-height: 0.8125rem;
        }
    }
}