@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.footer {
	background: #0C0C0C;
	color: #E0E0E0;
	padding: 2.19rem 0;

	// .footer__header
	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;

		@media (min-width:$md2) {
			display: flex;
			justify-content: space-between;

		}
	}

	// .footer__column
	&__column {
		display: flex;
		flex-direction: column;

		&--menu {
			order: 1;

			@media (min-width:$md2) {
				order: 0;
			}
		}
	}

	// .footer__phone
	&__phone {
		color: #FFF;
		font-size: 1.5625rem;
		font-weight: 600;
		line-height: 112%;
		letter-spacing: -0.01563rem;
		transition: color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	// .footer__desc
	&__desc {
		margin-top: 0.875rem;
		color: #8E8E8E;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 1.125rem;
		text-transform: lowercase;
	}

	// .footer__email
	&__email {
		margin-top: 1.87rem;
		color: #FFF;
		font-size: 1.5625rem;
		font-weight: 600;
		line-height: 112%;
		letter-spacing: -0.01563rem;
		transition: color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	// .footer__menu
	&__menu {}

	// .footer__menu-list
	&__menu-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		color: #E0E0E0;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 155.556%;

		& a {
			transition: color 0.3s ease;

			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}

	// .footer__reqs
	&__reqs {
		background: #4C4C4C;
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: rem(12) rem(16);
		border-radius: 0.9375rem;
		max-width: 21.125rem;

		@media (min-width:$md1) {
			max-width: 24.125rem;

		}
	}

	// .footer__reqs-icon
	&__reqs-icon {
		flex-shrink: 0;
	}

	// .footer__reqs-content
	&__reqs-content {
		color: #FFF;
		font-size: 1.5625rem;
		font-weight: 600;
		line-height: 112%;
		letter-spacing: 0.0625rem;

	}

	// .footer__reqs-title
	&__reqs-title {}

	// .footer__reqs-text
	&__reqs-text {
		font-size: 1.25rem;
		line-height: 1.5;
		letter-spacing: -0.0375rem;
		color: #C0C0C0;
		text-transform: uppercase;
	}

	// .footer__contacts
	&__contacts {
		margin-top: rem(40);
	}

	// .footer__contacts-title
	&__contacts-title {
		color: #E0E0E0;
		font-size: 1.0625rem;
		font-weight: 600;
		line-height: 1.75rem;
		letter-spacing: 0.0425rem;
	}

	// .footer__socials
	&__socials {
		margin-top: 1.19rem;
		gap: rem(15);

		.socials__item {
			width: rem(40);
			height: rem(40);
		}
	}

	// .footer__policies
	&__policies {
		margin-top: rem(60);
	}

	// .footer__policies-list
	&__policies-list {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(2, 1fr);

		@media (min-width:$md2) {
			gap: rem(26);
			grid-template-columns: repeat(3, 1fr);

		}

		& a {
			text-align: center;
			border-radius: 3.125rem;
			background: #2F2F2F;
			color: #7D7D7D;
			font-weight: 600;
			line-height: math.div(1.75, 1.0625);
			letter-spacing: 0.0425rem;
			padding: 0.5rem;
			display: block;
			font-size: 0.9rem;

			@media (min-width:$md1) {
				font-size: 1.0625rem;

			}
		}
	}



}