@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/breadcrumbs";
@use "modules/booking-calendar";
@use "modules/popup";
// @use "modules/preloader";
// @use "modules/tooltip";
// @use "modules/marguee";
// @use "modules/pagination";
// @use "modules/animation";
//============ МОДУЛИ ====================

.title {
	font-weight: 600;
	line-height: 117.073%;
	font-size: 1.75rem;

	@media (min-width: $md5) {
		font-size: 2.25rem;
	}

	@media (min-width: $md2) {
		font-size: 2.5625rem;
	}


}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}

	transition: background-color 0.3s ease 0s,
	color 0.3s ease 0s;
	z-index: 2;

	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d9d9d9;
	color: #353535;
	--swiper-navigation-size: 2.1875rem;
	border-radius: 50%;

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.3;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #B0DF1D;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-chevron-left;
}

.swiper-button-next {
	@extend %ic, .icon-chevron-right;
}

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #414651;
		line-height: 140%;
		font-size: 1rem;

		.swiper-pagination-current {
			color: var(--swiper-pagination-fraction-color, #000);
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.25rem;
			font-size: 2rem;
		}
	}

	&.swiper-pagination-lock {
		display: none;
	}

	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;
		--swiper-pagination-bullet-horizontal-gap: #{rem(2)};

		.swiper-pagination-bullet {
			background: #D9D9D9;
			opacity: 1;
			position: relative;
			width: rem(10);
			height: rem(3);
			border-radius: 0;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.5rem;
				height: 1.5rem;
			}

			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: $accent;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	// .socials__item
	&__item {
		--hover-bg: #{$accent};
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background: #4B4B4B;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		width: rem(22);
		height: rem(22);
		font-size: 0.75rem;

		@media (min-width:$md5) {
			width: 1.875rem;
			height: 1.875rem;
			font-size: 1rem;
		}

		&.icon-vk {
			--hover-bg: #0077ff;
			font-size: 0.5rem;

			@media (min-width:$md5) {
				font-size: 0.75rem;

			}
		}

		&.icon-whatsapp {
			--hover-bg: #00e510;
			font-size: 1rem;

			@media (min-width:$md5) {
				font-size: 1.375rem;

			}
		}

		&.icon-telegram {
			--hover-bg: #00b0f2;
		}

		&.icon-max {
			--hover-bg: #5405ff;
			font-size: 0.875rem;

			@media (min-width:$md5) {
				font-size: 1.15rem;

			}
		}

		&.icon-ok {
			--hover-bg: #EE8208;

			@media (min-width:$md5) {
				font-size: 1.25rem;

			}
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--hover-bg);
			}
		}
	}
}

.mobile-hidden {
	@media (max-width: $md5) {
		display: none !important;
	}
}

._loading {
	color: transparent !important;
	pointer-events: none;
	transition: none;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(20);
		height: rem(20);
		border: rem(3) solid var(--btn-text-color, #000);
		border-bottom-color: transparent;
		border-radius: 50%;
		transform-origin: center;
		animation: rotation 1s linear infinite;
		z-index: 3;
	}
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======